<nav class="navbar navbar-expand-lg navbar-light pf-background-color">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
            aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a class="nav-link" [routerLink]="'/'">Home</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="'/experience'">Experience</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="'/education'">Education</a>
                </li>
                <!-- <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="'/projects'">Projects</a>
                </li> -->
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="'/formations'">Formations</a>
                </li>
            </ul>
        </div>
    </div>
</nav>