<div class="card mb-3 pf-card-container">
  <div class="row g-0">
    <div class="col-md-4">
      <img 
        [src]="card.imagePath"
        [alt]="card.imageDescription" 
        class="img-fluid">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ card.title }}</h5>
        <p class="card-text">
            <small class="text-body-secondary">{{ card.subTitle }}</small>
        </p>
        <p class="card-text pf-card-body">{{ card.body }}</p>
      </div>
    </div>
  </div>
</div>