.pf-card-container {
    /* max-width: 540px; */
    max-height: 130px;
    overflow: hidden;
    cursor: pointer;
}

.pf-card-text {
    display: -webkit-box;
    -webkit-line-clamp: 1; 
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* .pf-card-body {
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    overflow: scroll;
} */