<div class="row">
    <div class="col-md-12">
        <h3>{{ experience.role }}</h3>
        <p>{{ experience.startDate }} - {{ experience.endDate }}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="lead">Tasks performed</p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let descriptionXpt of experience.description">{{ descriptionXpt }}</li>
        </ul>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12">
        <p class="lead">Technologies envolved</p>
        <div class="badge bg-secondary text-wrap m-1" *ngFor="let technology of experience.technologies">{{ technology }}</div>
    </div>
</div>