<div class="row mt-5 align-items-center">
    <div class="col-md-4 offset-md-2">
        <div class="pf-presentation">
            <p>Hello, <br>I'm <span class="fw-bold pf-text-color">David Silva</span><br><span class="fs-4">Junior Full Stack Developer</span></p>
        </div>
        <div class="pf-flex-row">
            <div class="badge bg-dark text-wrap">C#</div>
            <div class="badge bg-dark text-wrap">ASP.NET WEB API</div>
            <div class="badge bg-dark text-wrap">SQL</div>
            <div class="badge bg-dark text-wrap">Angular</div>
            <div class="badge bg-dark text-wrap">AngularJS</div>
            <div class="badge bg-dark text-wrap m-1">Entity Framework</div>
            <div class="badge bg-dark text-wrap m-1">HTML</div>
            <div class="badge bg-dark text-wrap m-1">Javascript</div>
            <div class="badge bg-dark text-wrap m-1">CSS</div>
        </div>
        <!-- <button class="btn btn-primary pf-button mt-4">
            <span class="bi bi-envelope-at"></span> Contact me
        </button> -->
    </div>
    <div class="col-md-4">
        <img src="assets/david.png" alt="David Silva" class="pf-image">
        <div class="pf-flex-row justify-content-center gap-3">
            <a href="https://www.linkedin.com/in/david-silva-6a9b3820a/">
                <img src="assets/social-media/linkedin.png" alt="LinkedIn">
            </a>
            <a href="https://github.com/davidsilva1997">
                <img src="assets/social-media/github.png" alt="GitHub">
            </a>
        </div>
    </div>
</div>